<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>768217178008-fgllg2grjid09u3rv60qhrme368eu4o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768217178008-fgllg2grjid09u3rv60qhrme368eu4o0</string>
	<key>API_KEY</key>
	<string>AIzaSyCYMtNvzoKtsIU4-4Om5uzTnt6xTYXcPZU</string>
	<key>GCM_SENDER_ID</key>
	<string>768217178008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lanefaison.CostumeParty</string>
	<key>PROJECT_ID</key>
	<string>costumeparty-8ce0b</string>
	<key>STORAGE_BUCKET</key>
	<string>costumeparty-8ce0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768217178008:ios:1a4dbaaf599f9f6d</string>
	<key>DATABASE_URL</key>
	<string>https://costumeparty-8ce0b.firebaseio.com</string>
</dict>
</plist>